body{
	margin:0px;
	padding:0px;
}
#animated-word-cloud{
	height:350px;
	width:1000px;
	background: #fff000;

}
.text{
	position:relative;
	color:white;
}
.text1{
	color:#9cbecc;
	/*text-shadow: 2px 4px 4px ;*/
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	font-family: cursive;
	font-size:350%;
	-webkit-animation-name: text1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: text1;
	animation-duration: 8s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes text1 {
    0% {top:100px; left:40%;}
    25% {top:0px; right:5px;}
    50% { top:50px;left:2px;}
    100% {top:100px; left:40%;}
    
}

.text2{
	color:green;
	font-size:250%;
	font-family:sans-serif;
	font-weight: 200%;
	text-shadow: 2px 4px 4px ;
	right:50%;
	-webkit-animation-name: text2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: text2;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes text2 {
    0% {top:-1px; left:50%;}
    25% {top:0px; right:5px;}
    50% { top:100px;left:2px;}
    100% {top:-1px; left:50%;}
    
}

.text3{
	color:black;
	font-size:225%;
	text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
	font-family: cursive;
	-webkit-animation-name: text3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: text3;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes text3 {
    0% {top:100px; left:50%;}
    25% {top:0px; right:5px;}
    50% { top:70px;left:2px;}
    100% {top:100px; left:50%;}
    
}

