@media (max-width:760px) {
  #bannerimg{
    display:none;
  }
  #home{
    padding-bottom: 50px;
  }
}
#mentors-info {
    color:#d0d0d0 !important;
  }

.modal-btn {
  border-radius: 0px !important;
  background:-webkit-linear-gradient(0deg, #834162 0%, #1f284f 100%);
  color:white;
  box-shadow: 0 0 0 #006599;
  transition-duration: 2s;
}

.modal-btn:hover{
	background:-webkit-linear-gradient(0deg,#1f284f 0%, #834162 100%);
}

.modal-btn:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
.accordion-content ul {
	list-style-type: circle !important;
}

.padding-about-right-section{
	padding-left:120px;
}

@keyframes float {
	0% {
		transform: translatey(-4px);
		-webkit-filter: drop-shadow(0px 0px 0px #fff);
    	filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));

	}

	20% {
		transform: translatey(-4px);
		-webkit-filter: drop-shadow(1px 1px 1px #222);
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));

	}

	30% {
		transform: translatey(-8px);
		-webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));

	}

	40% {
		transform: translatey(-12px);
		-webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));

	}
	50% {
		transform: translatey(-16px);
		-webkit-filter: drop-shadow(4px 4px 4px #222);
        filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.8));

	}
	60% {
		transform: translatey(-20px);
		-webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,1));

	}
	70% {
		transform: translatey(-16px);
		-webkit-filter: drop-shadow(4px 4px 4px #222);
        filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.8));

	}

	80% {
		transform: translatey(-12px);
		-webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));

	}
	90% {
		transform: translatey(-8px);
		-webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));

	}
	100% {
		transform: translatey(-4px);
		-webkit-filter: drop-shadow(1px 1px 1px #222);
    	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0));

	}
}
.altway-letter img {
	position:absolute;
	z-index:2;
	height:200px;
	width:200px;
	top: 50%;
    left: 50%;
    margin-top: -100px; /* Half the height */
    margin-left: -100px; /* Half the width */
    animation: float 8s infinite;
}

@media (max-width: 991px) {
  .altway-letter img {
    display: none
  }
}
.mfeedback{
	padding:30px;
	background: url(../img/feedback-bg.jpg);
	background-size: cover;
	background-position: center;
}
.feedback-country{
	color:#3bd46b;
}
.feedback-from{
	color:# f5bb35;
}
.item{
	width:100%;
	background: #ffffff;
}
.item1{
	width:100%;
	background: #ffffff;
}
/* Feel free to change duration  */
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}
/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index : 1
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index : 0
   }
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }
  100% {
    opacity : 0   ;
  }
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }
  100% {
    opacity : 0   ;
  }
}

.owl-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -10%;
    margin-left: 2px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -10%;
    right: 7px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(2,2); color: #747474}
.owl-prev i:hover {
  color: green;
  transform: scale(2.5,2.5);
  -webkit-filter: drop-shadow(-2px 2px 2px #222);
  filter: drop-shadow(-2px 2px 2px rgba(0,0,0,0.7));
}
.owl-next i:hover {
  color: green;
  transform: scale(2.5,2.5);
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.7));}


.item1 {
  padding:20px;
}
.item1 h2 {
  margin:20px;
}
.item1 p {
  margin:20px;
}
.feedback-header-mentor{
  position: absolute;
  padding:11px;
  z-index: 2;
  margin-top: -13px;
  left:13px;
  width:200px;
  height:50px;
  background: #ffffff;
  border:3px solid #41d46b;
}
.feedback-header-mentee{
  position: absolute;
  padding:11px;
  z-index: 2;
  margin-top: -13px;
  width:200px;
  height:50px;
  left:50%;
  background: #ffffff;
  border:3px solid #41d46b;
}
.mfeedbacktitle{
  font-weight:500;
  font-size: 300%;
  color:#e23030;
  text-align: center;
}
.feedback-header-mentor:hover {
  cursor:pointer;
  transform:translatey(-5px);
  box-shadow: 1px 3px 5px #ccc;
}
.feedback-header-mentee:hover {
  cursor:pointer;
  transform:translatey(-5px);
  box-shadow: 1px 3px 5px #ccc;
}



.icon-home:after     { content: "40K"; font-size: 50px; } 
.icon-cog:after      { content: "200"; font-size: 50px } 
.icon-cw:after       { content: "\27f3"; } 
.icon-location:after { content: "\e724"; }

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
.nav a:hover{
  text-decoration: none;
  color: #fff;
  background: #3bd46b;
}

.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.data-bg{
	padding-top:50px;
	padding-bottom: 50px;
}

#faq-main li{
	padding: 10px;
}
.faq-type-trigger-button{
	width:100px;
	border:none;
	background: none;
	cursor: pointer;
}

.faq-type-trigger-div{
	height:100vh;
}

#faq-main{
  background: url(../img/data-bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-team-container{
  background: url("../img/team-bg.png");
  padding:20px;
  padding-top:60px;
  padding-bottom: 60px;
}
.background-img {
  background: url(../img/abhi.jpg);
  padding: 10px;
}

.info-box {
 background: linear-gradient(90deg,#fff,#ffffff36);
  padding:20px;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: all 1s ease-in-out;
}
.info-box p {
  color:#000;
}
.info-box h3 {
  background: url(../img/abhi.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 900;
  font-family: Arial;
}
.info-box h5 {
  color:red;
}

.info-box:hover {
  background: #3bd46b;
  padding:40px;
  margin:-20px;
  transition-delay: 1000 ms;
}

@media (max-width: 1325px) {
  .data-bg  {
    display: none
  }
}

@media (max-width: 715px) {
  .our-team-container div {padding:10px}

  .info-box:hover {
  background: #3bd46b;
  padding:20px;
  margin:-10px;
    }
}

.team-heading h1 {
  color:white;
  font-weight:600;
  font-size:355%;
  font-family:serif;
  
}
.home-about-area1  {
  position:sticky;
  width:100%;
  top:0;
  z-index: -1000;
}

.home-about-area2  {
  position:sticky;
  width:100%;
  top:0;
  z-index: -1000;
}
.data-bg {
  background: url('../img/data-bg.png');
}
.brands-area {
  background: url('../img/data-bg.png');
}

.work-process-area {
  background: url('../img/data-bg.png');
}

.faq-area {
  background: url('../img/data-bg.png');
}

.blog-area {
  background: url('../img/data-bg.png');
}