 body{
      background: #ba0d28;
      margin:0px;
      padding:0px;
      font-size:28px;
      color:#fff;
    }
    .content__container__text{
      position:fixed;
      top:50%;
      left:45%;
    }
    ul{
      list-style: none;
    }
    li {
  
      position:;

    }
    .dugga::before {
      content:"Hi";
      margin-left:-10px;
      color:#fff;
      font-size: 24px;

    }
 .dugga{
      position: fixed;
      height:30px;
      padding-left:100px; 
      overflow-y: hidden;
      top:55%;
      left:40%;
    }
    ul {
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration:8s ease-in-out infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 8s ;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
    }
@-webkit-keyframes example {
  12.5% {margin-top: -31px;}
  25% {margin-top: -63px;}
  37.5% {margin-top: -96px;}
  50% {margin-top: -128px;}
  62.5% {margin-top: -128px;}
  75% {margin-top: -96px;}
  87.5% {margin-top: -63px;}
  100% {margin-top: -31px;}

}

/* Standard syntax */
@keyframes example {
  12.5% {margin-top: -31px;}
  25% {margin-top: -63px;}
  37.5% {margin-top: -96px;}
  50% {margin-top: -128px;}
  62.5% {margin-top: -128px;}
  75% {margin-top: -96px;}
  87.5% {margin-top: -63px;}
  100% {margin-top: -31px;}
}